/* main_head css */
body {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'pretendard';
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#head {
    border-top: 1px solid #109ddc;
    background-color: white;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 230px;
    flex-wrap: wrap;
    z-index: 1000;
    transition: transform 0.5s ease;
}

.head1 {
    display: flex;
    width: 100%;
}

.logo {
    width: 79%;
    text-align: center;
    height: 180px;
}

.text:hover {
    cursor: pointer;
}

.img1 {
    margin-top: 60px;
    margin-left: 150px;
}

.img1:hover,
.img2:hover,
.img3:hover {
    cursor: pointer;
}

.img2 {
    margin-top: 40px;
}

.img3 {
    margin-top: 30px;
}

.fours {
    display: flex;
    flex-wrap: wrap;
    /* width: 260px; */
    width: 21vw;
    height: 180px;
}

.fours1 {
    /* width: 80px; */
    width: 30%;
    height: 89px;
    line-height: 90px;
    text-align: center;
}

.fours2 {
    /* width: 176px; */
    width: 68%;
    font-weight: 700;
    font-size: 18px;

    height: 89px;
    text-align: center;
}

.fours3 {
    /* width: 80px; */
    width: 30%;
    height: 89px;
    line-height: 150px;
    font-size: 14px;
    /* border: 1px solid orange; */
    text-align: end;
}

.fours4 {
    /* width: 176px; */
    width: 68%;
    height: 89px;
    line-height: 150px;
    font-size: 14px;
    text-align: center;
}

.button {
    border-top: 1px solid rgb(216, 215, 215);
    border-bottom: 1px solid rgb(216, 215, 215);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    line-height: 40px;
    font-weight: 700;
    font-size: 20px;
}

.button:hover,
#category:hover,
.room:hover {
    cursor: pointer;
}

.buttonsub1 {
    width: 25vw;
    height: 100%;
    position: relative;
}

/* menubutton hover */
.buttonsub1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #6098FF;
    transform: scaleY(0.3);
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
    /* transition: transform 0.8s cubic-bezier(0.71, 0.11, 0.13, 1.02), opacity 0.4s; */
}

.buttonsub1:hover::before {
    opacity: 1;
    background-color: #6098FF;
    transform: scaleY(1);
}

/*  end menubutton hover */

#category {
    padding-top: 230px;
    display: 100%;
    height: 160px;
    display: flex;
    text-align: center;
}

.category_1,
.category_2,
.category_3,
.category_4 {
    /* width: 317px; */
    width: 25vw;
    height: 160px;
    /* 스크립트로 이벤트 줘서 변경할 것 */
    /* opacity: 0; */
    display: none;
    z-index: 1000;
    position: fixed;
}

/* 하위버튼 위치 고정 */
.category_2 {
    margin-left: 25vw;
}

.category_3 {
    margin-left: 50vw;
}

.category_4 {
    margin-left: 75vw;
}

.categorysub1 {
    width: 25vw;
    height: 40px;
    /* background-color: rgb(215, 242, 250); */
    background-color: white;
    /* 겹쳐지는지 확인여부 */
}

.categorysub1:hover {
    background-color: rgb(171, 228, 245);
}

a {
    text-decoration-line: none;
    color: black;
}

/*logo*/
.typing {
    margin-top: 4%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.8rem;
}

.text {
    font-size: 2.2rem;
    margin-left: .6rem;
}

.text::after {
    content: '';
    margin-left: .4rem;
    border-right: 2px solid #777;
    animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
    from {
        border-right: 2px solid #ffffff;
    }

    to {
        border-right: 2px solid #777;
    }
}


/* main_head css end */





#second {

    margin-top: -100px;
    height: 800px;
    z-index: 10;
}

/* .main1 {
    border: 1px solid red; 
    display: flex;
    justify-content: space-around;
} */

.notice {
    /* border: 1px solid red; */
    font-size: 25px;
    padding-top: 0.8%;
    width: 100%;
    height: 50px;
    overflow: hidden;
    /* 텍스트 오버플로우 숨김 */
    white-space: nowrap;
    /* 텍스트 줄바꿈 방지 */
    animation: moveLeft 10sd linear infinite;
    /* 애니메이션 적용 */
    /* 텍스트 오버플로우 숨김 */
    overflow: hidden;
    white-space: nowrap;
    animation: moveLeft 10s linear infinite;
}

.case {
    border: 5px solid rgba(109, 143, 190, 0.56);
    border-radius: 30px;
    width: 95%;
    height: 50px;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    /* 넘치는 텍스트 숨김 처리 */
    white-space: nowrap;
    /* 텍스트가 줄 바꿈되지 않도록 설정 */
}

.case::before {
    /* content: "공지사항 : 여러분 집 갑시드아아아아아아아아아아아아아아"; */
    position: absolute;
    animation: moveLeft 10s linear infinite;
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
        /* 시작 위치 (컨테이너 오른쪽 밖) */
    }

    100% {
        transform: translateX(-100%);
        /* 종료 위치 (컨테이너 왼쪽 밖) */
    }
}

.room {
    border-radius: 15px;
    z-index: 10;

    margin: 2% 2%;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-position: center;
    background-color: #000c3a;
    /* background-image: url("http://www.human.or.kr/images/sec01_05.jpg"); */
    background-image: url("https://i.ibb.co/KsRhgjf/HUM-1200-500px-1200-700px-1200-600px.gif");
    background-size: 1200px 500px
}

/*movehighlight css (color외 수정금지) */
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.highlight {
    position: absolute;
    width: 0;
    height: 7px;
    background-color: rgba(109, 143, 190, 0.86);
    transition: width 0.5s;
}

.top-highlight {
    top: 0;
    left: 0;
}

.bottom-highlight {
    bottom: 0;
    right: 0;
}

.left-highlight {
    bottom: 0;
    left: 0;
    width: 7px;
    background-color: aqua;
    height: 0;
    transition: height 0.5s;
}

.right-highlight {
    top: 0;
    right: 0;
    width: 7px;
    background-color: aqua;
    /* background-color: #d5edf8; */
    height: 0;
    transition: height 0.5s;
}

/* end border css*/

.room1,
.room2,
.room3,
.room4 {
    width: 100%;
    height: 100%;
    padding: 45% 0 15% 0;
    text-align: center;
    z-index: -10;
}

.room1 span,
.room2 span,
.room3 span,
.room4 span {
    padding: 7px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px black;
    line-height: 200px;
    border-radius: 30px;
}


.main2 {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

.main3 {
    margin: 2% 2%;
    padding: 0;
    width: 70%;
    height: 240px;
    display: flex;
    justify-content: space-between;
}






.rv,
.sg {
    width: 48%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    height: 220px;
    padding-top: 1%;
    border: 4px solid rgb(203, 202, 202);

}

.rv {
    background-color: rgb(232, 242, 250);
}

.sg {
    background-color: #fdffdf;
}






.seat {
    width: 200px;
    height: 150px;
    margin-top: -15px;
}

.food {
    width: 150px;
}

/* 확대 */
.rv:hover,
.sg:hover {
    transform: scale(1.1);
    transition: 0.5s ease-out;
    cursor: pointer;
}

.rv:not(:hover),
.sg:not(:hover) {
    transition: 0.5s ease-out;
}

/* 확대 끝 */

.ad {
    
    width: 30%;
    height: 200px;
    text-align: center;
}

/* food overay */
.sg {
    overflow: hidden;
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

.sg .transition {
    position: absolute;
    top: -10%;
    left: 0%;
    width: 100%;
    height: 10%;
    background: rgb(255, 209, 4);
    z-index: -1;
}

.sg:hover .transition {
    height: 100%;
    top: 100%;
    transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
}

.rv {
    overflow: hidden;
    transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
}

.rv .transition {
    position: absolute;
    top: -10%;
    left: 0%;
    width: 100%;
    height: 10%;
    background: rgb(119, 245, 0);
    z-index: -1;
}

.rv:hover .transition {
    height: 100%;
    top: 100%;
    /* transition: all .7s cubic-bezier(0.7, 0, 0.475, 1); */
    transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    /*처음나타나는 속도,퍼지는 속도,지나가는 속도 */
}

/* 맛집찾기 슬라이드(신영) */
body {
    margin: 0;
}

.imgBox {
    margin-top: 120px;
    height: 2600px;
    background-color: rgb(0, 0, 0);
    position: relative;
    animation-duration: 5s;

}

.moveimg {
    border-radius: 5%;
    box-shadow: 5px 5px 32px rgb(104, 104, 104);
    overflow: hidden;
}

#img1 {
    position: fixed;
    width: 180px;
    height: 100px;
    top: 50px;
    left: -1000px;
    transform: translateX(0);
    transition: transform 2s linear;
    display: none;
}

#img2 {
    position: fixed;
    top: 250px;
    width: 450px;
    height: 350px;
    left: -1150px;
    transform: translateX(0);
    transition: transform 1.5s linear;
    z-index: 10;
    display: none;
}

#img3 {
    width: 300px;
    height: 180px;
    position: fixed;
    left: -2150px;
    top: 650px;
    transform: translateX(0);
    transition: transform 2s linear;
    display: none;
}

#img4 {
    width: 350px;
    height: 200px;
    position: fixed;
    left: -3900px;
    top: 70px;
    transform: translateX(0);
    transition: transform 2s linear;
    display: none;
}

#img5 {
    width: 320px;
    height: 200px;
    position: fixed;
    top: 600px;
    left: -3800px;
    transform: translateX(0);
    transition: transform 1.5s linear;
    display: none;
}

#img6 {
    width: 450px;
    height: 350px;
    position: fixed;
    top: 300px;
    left: -3000px;
    transform: translateX(0);
    transition: transform 0.8s linear;
    z-index: 10;
    display: none;
}

#img7 {
    position: fixed;
    top: 550px;
    left: -3450px;
    width: 180px;
    height: 150px;
    transform: translateX(0);
    transition: transform 1.8s linear;
    display: none;
}

#img8 {
    position: fixed;
    left: -1950px;
    width: 150px;
    height: 70px;
    top: 30px;
    transform: translateX(0);
    transition: transform 2s linear;
    display: none;
}

#img9 {
    position: fixed;
    top: 250px;
    left: -2250px;
    width: 350px;
    height: 150px;
    transform: translateX(0);
    transition: transform 1.5s linear;
    display: none;
}

#img10 {
    width: 200px;
    height: 150px;
    left: -1150px;
    position: fixed;
    top: 150px;
    transform: translateX(0);
    transition: transform 2.5s linear;
    z-index: -1;
    display: none;
}

#img11 {
    width: 450px;
    height: 300px;
    position: fixed;
    left: -2800px;
    top: 150px;
    transform: translateX(0);
    transition: transform 1s linear;
    display: none;
}

#img12 {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 650px;
    left: -1600px;
    transform: translateX(0);
    transition: transform 1.5s linear;
    display: none;
}

#img13 {
    width: 450px;
    height: 350px;
    left: -3950px;
    position: fixed;
    top: 150px;
    transform: translateX(-500px);
    transition: transform 0.8s linear;
    z-index: 10;
    display: none;
}

#movehotple {
    display: none;
    width: 150px;
    height: 20px;
    text-align: center;
    padding: 30px;
    border: 1px solid rgba(97, 97, 97, 0.233);
    border-radius: 20px;
    box-shadow: 5px 5px 60px rgb(126, 126, 126);
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: rgba(43, 43, 43, 0.521);
    color: white;
    transition: 1s;
    z-index: 10;
}

#movehotple:hover {
    border: 1px solid rgb(158, 158, 158);
    cursor: pointer;
    box-shadow: 5px 5px 120px rgb(255, 255, 255);
}

/* end main_head css */